@font-face {
    font-family: 'DungGeunMo';
    src: url('./DungGeunMo.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url('./NanumSquareRoundR.woff') format('woff');
}