.PostModal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .PostModal > section {
    display: grid;
    width: 500px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    animation: modal-show 0.25s;
    overflow: hidden;
    padding: 20px;
  }


  .PostModal.openModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show 0.25s;
  }
  
  @keyframes modal-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }